* { 
    font-family: Montserrat;
    box-sizing: border-box;
    -webkit-backface-visibility: none;
}

.clear {
    clear: both;
}

#wrapper {
    margin: 0 auto;

    background-color: white;
}

ul {
    list-style: none;
}

/* Nav */

nav {
    padding-top: 20px;
    height: 80px;
    position: relative;
    z-index: 9999999999999;
    background-color: white;/*jus fo now*/
    
}

nav img {
    width: 250px;
    float: left;
}

nav ul {
    float: right;
}

nav li {
    font-family: Montserrat;
    font-size: 1.1em;
    display: inline-block;
    margin: 0px 20px;
    transition: all 0.3s ease;
}

nav li:hover {
    border-bottom: 4px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

/* footer */
footer {
    width: 100%;
    bottom: 0px;
    background-color: white;/*jus fo now*/
}

/* Oi look m8, it's a slideshow */

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background-color: rgba(74, 74, 76, 0.7);
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -10;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    top: 550px;
    left: 30px;
    width: 100%;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 40s linear infinite 0s;
    -moz-animation: titleAnimation 40s linear infinite 0s;
    -o-animation: titleAnimation 40s linear infinite 0s;
    -ms-animation: titleAnimation 40s linear infinite 0s;
    animation: titleAnimation 40s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-size: 80px;
    padding: 0;
    margin-bottom: 0px;
}
.cb-slideshow li div hr {
    width: 50%;
    margin-left: 0px;
    color: white;
    background-color: white;
    height: 3px;
    border: 0;
}
.cb-slideshow li div p {
    margin-bottom: 60px;
    font-size: 25px;
    padding: 0;
    margin-right: 50%;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(images/2.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(images/3.jpg);
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(images/4.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    20% { opacity: 1;
         -webkit-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    36% { opacity: 1 }
    56% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    20% { opacity: 1;
         -moz-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    36% { opacity: 1 }
    56% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    20% { opacity: 1;
         -o-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    36% { opacity: 1 }
    56% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    20% { opacity: 1;
         -ms-animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    36% { opacity: 1 }
    56% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    20% { opacity: 1;
         animation-timing-function: cubic-bezier(.62,.28,.23,.99) 0.7s; }
    36% { opacity: 1 }
    56% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    20% { opacity: 1}
    30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    20% { opacity: 1 }
    30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    20% { opacity: 1}
    30% { opacity: 1 }
   40% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    20% { opacity: 1}
    30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    16% { opacity: 1 }
    25% { opacity: 1 }
    27% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}


/* Testimonials Page */



#testimonial-one {
    height: 400px;
    background-color: #52b9b5;
}

#testimonial-two {
    height: 400px;
    background-color: #b9a152;
}

#testimonial-three {
    height: 400px;
     background-color: #52b9b5;
}

#testimonial-four {
    height: 400px;
    background-color: #b9a152;
}

.testimonial-one-right,
.testimonial-three-right {
    float: right;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    width: 45%;
    color: white;
    text-align: center;
    height: 100%; 
}

.testimonial-two-left,
.testimonial-four-left {
    float: left;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    width: 45%;
    color: white;
    text-align: center;
    height: 100%;
}

.testimonial-one-left,
.testimonial-three-left {
    width: 50%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.testimonial-two-right,
.testimonial-four-right {
    width: 55%;
    height: 100%;
    -webkit-clip-path: polygon(9.2% 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}



/*SHOWROOM SECTION*/

#showroom-hero{
    background-image: url(images/hero-placeholder.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    height: 300px;
}

.info-sections h2 {
    font-size: 2em;
    text-decoration: underline;
}

#size {
    text-align: right;
    color: white;
    height: 250px;
    max-width: 1200px;
    background-color: #9b8b74;
    -webkit-clip-path: polygon(100% 10%, 100% 90%, 0 100%, 0 0);
    clip-path: polygon(100% 10%, 100% 90%, 0 100%, 0 0);
}

#size h2,
#size p {
    transform: translateY(40px);
}

#size h2{
    margin-right: 20px;
}

#size p{
    padding-right: 20px;
}
